body {
	padding: 20px;
}
input[type=text] {
	width: 300px;
	margin: 0px;
}
select {
	width: 300px;
	margin: 0px;
}
h2 {
	font-weight: 200;
}
label {
	font-weight: 200;
}
p.errorMessage {
	color: red;
	padding: 0px;
	margin: 0px;
}
