body {
	padding: 30px;
}
h1 {
	margin: 0px;
}
.form-control {
	width: 300px;
	margin: 0px;
}
.datepicker table {
	width:292px;
}
label {
	font-weight: lighter;
}
p.errorMessage {
	color: red;
	padding: 0px;
	margin: 0px;
}
