body {
	width: 0px;
	padding: 0px;
	margin: 0px;
}
div {
	width: auto;
	padding: 0px;
	margin: 0px;
}
input.hour {
	height: 30px;
	width: 50px;
}
input.name {
	height: 30px;
	width: 75px;
}
h1 {
	display: inline-block;
}
input[type=submit] {
	margin-bottom: 18px;
	margin-left: 10px;
}
button.btn-danger, button.btn-default {
	height: 30px;
	width: 30px;
	text-align: center;
	padding: initial;
	border-radius: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
}
.col-md-1 {
	width: 14%;
	margin: 0px;
	padding: 0px;
}
